<h1 class="text-primary text-center">Virtual Workshop Registration Form</h1><br>
<div class="cotainer border shadow">
  <div class="row row1" >
    <div class="col-4">
      <p></p>
      <p> join 3-day webdevelopment</p>
      <p> virtual Workshop and become a</p>
      <p> hilable freelance </p>
    </div>
    <div class="col-4">
      <h4>virtual Workshop schedule</h4>
      <p>May 1-3 9:00 AM to 1:00 PM EST </p>
      <p>May 15-18 9:00 AM to 1:00 PM EST </p>
      <p>June 1-3 9:00 AM to 1:00 PM EST </p>
      <p>June 15-18 9:00 AM to 1:00 PM EST </p>
      <p>July 1-3 9:00 AM to 1:00 PM EST </p>
      <p>July 15-18 9:00 AM to 1:00 PM EST </p>

    </div>
  </div>
  <hr>
  
    <form #myForn="ngForm" class='myform'>

      <div class="formGroup">
        <div class="form-check row2">
          <label class="row2"><b>Please rate your webdevelopment or programming knowledge</b></label><br>
          <input class="form-check-input" name="" type="checkbox">
          <label class="form-check-label">I don't have any idea at all</label><br>
          <input class="form-check-input" name="" type="checkbox">
          <label class="form-check-label">I am a newbie in webdevelopment and programming</label><br>
          <input class="form-check-input" name="" type="checkbox">
          <label class="form-check-label">I have watched tutorial online</label><br>
          <input class="form-check-input" name="" type="checkbox">
          <label class="form-check-label">I have a webdevelopment related working experience</label><br>
          <input class="form-check-input" name="" type="checkbox">
          <label class="form-check-label">I am currently working as a webdeveloper and wants to improve my
            skill</label><br>
          <input class="form-check-input" name="" type="checkbox">
          <input type="text" placeholder="Other">
        </div>

        <div class="formGroup">
          <label class="row2"><b>I would like to learn the following</b></label><br>
          <div class="row row2">

            <div class="form-check col-5">
              <input class="form-check-input" name="" type="checkbox">
              <label class="form-check-label">Html</label><br>
              <input class="form-check-input" name="" type="checkbox">
              <label class="form-check-label">Java Script</label><br>
              <input class="form-check-input" name="" type="checkbox">
              <label class="form-check-label">Database</label><br>
              <input class="form-check-input" name="" type="checkbox">
              <label class="form-check-label">Ruby on rails</label><br>
              <input class="form-check-input" name="" type="checkbox">
              <label class="form-check-label">DevOps</label><br>
              <input class="form-check-input" name="" type="checkbox">
              <label class="form-check-label">Front End Development</label><br>
              <input class="form-check-input" name="" type="checkbox">
              <input type="text" placeholder="Other">
            </div>

            <div class="form-check col-5">
              <input class="form-check-input" name="" type="checkbox">
              <label class="form-check-label">CSS</label><br>
              <input class="form-check-input" name="" type="checkbox">
              <label class="form-check-label">PHP</label><br>
              <input class="form-check-input" name="" type="checkbox">
              <label class="form-check-label">Wordpress</label><br>
              <input class="form-check-input" name="" type="checkbox">
              <label class="form-check-label">Python(Django or Flask)</label><br>
              <input class="form-check-input" name="" type="checkbox">
              <label class="form-check-label">Web-security</label><br>
              <input class="form-check-input" name="" type="checkbox">
              <label class="form-check-label">Back End Development</label><br>
              <input class="form-check-input" name="" type="checkbox">
              <input type="text" placeholder="Other">
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="text-primary">
          <h1>Participation Information</h1>
          <hr>
          <div class="formGroup">
            <h5>Name</h5>
            <div class="row">
              <div class="col-4">
                <input type="text" name="fname" id="fname" placeholder="Enter your First Name" class="form-control ">
                <label>Area Code </label>
              </div>
              <div class="col-8">
                <input type="text" name="fname" id="fname" placeholder="Enter your Last Name" class="form-control ">
                <label>Phone Number</label>
              </div>
            </div>
          </div>
        </div>
        <hr>

        <div class="text-primary">
          <div class="formGroup">
            <h5>Phone Number</h5>
            <div class="row">
              <div class="col-4">
                <input type="text" name="fname" id="fname"  class="form-control ">
                <label>First Name </label>
              </div>
              <div class="col-8">
                <input type="text" name="fname" id="fname"  class="form-control ">
                <label>Last Name</label>
              </div>
            </div>
          </div>
        </div>
        <hr>

        <div class="text-primary">
          <div class="formGroup">
            <h5>Email</h5>
            <div class="row">
              <div class="col-12">
                <input type="text" name="fname" id="fname"  class="form-control ">
                <label>example@example.com </label>
              </div>
            </div>
          </div>
        </div>

        
        <div class="text-primary">
          <div class="formGroup">
            <h5>Address</h5>
            <div class="row">
              <div class="col-12">
                <input type="text" name="fname" id="fname"  class="form-control ">
                <label>street Address </label>
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <input type="text" name="fname" id="fname"  class="form-control ">
                <label>street Address Line-2 </label>
              </div>
            </div>

            <div class="row">
              <div class="col-6">
                <input type="text" name="fname" id="fname"  class="form-control ">
                <label>city </label>
              </div>

              <div class="col-6">
                <input type="text" name="fname" id="fname"  class="form-control ">
                <label>state/ Provinence </label>
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <input type="text" name="fname" id="fname"  class="form-control ">
                <label>Postal/ Zip code </label>
              </div>
            </div>


            <div class="text-success">
              <div class="formGroup">
                <h5>Occupation</h5>
                <div class="row">
                  <div class="col-12">
                    <input type="text" name="fname" id="fname"  class="form-control ">
                    <label>optional/ Current or Previous</label>
                  </div>
                </div>
              </div>
            </div>

            <div class="text-success">
              <div class="formGroup">
                <h5>Company Name</h5>
                <div class="row">
                  <div class="col-12">
                    <input type="text" name="fname" id="fname"  class="form-control ">
                    <label>optional/ Current or Previous </label>
                  </div>
                </div>
              </div>
            </div>

            <div class="text-success">
              <div class="formGroup">
                <h5>Job Position <title></title></h5>
                <div class="row">
                  <div class="col-12">
                    <input type="text" name="fname" id="fname"  class="form-control ">
                    <label>optional/ Current or Previous </label>
                  </div>
                </div>
              </div>
            </div>

            <hr>

          </div>
        </div>


      </div>

      <div class="text-center">
        <h1>
          Payment Information
        </h1>
      </div>
      
      <div class="formGroup row2">
        <label><b>Workshop Dates</b></label><br>
        <div class="row">

          <div class="form-check col-5">
            <input class="form-check-input" name="" type="checkbox">
            <label class="form-check-label">May 1-3</label><br>
            <input class="form-check-input" name="" type="checkbox">
            <label class="form-check-label">June 1-3</label><br>
            <input class="form-check-input" name="" type="checkbox">
            <label class="form-check-label">July 1-3</label><br>
          </div>

          <div class="form-check col-6">
            <input class="form-check-input" name="" type="checkbox">
            <label class="form-check-label">May 15-18</label><br>
            <input class="form-check-input" name="" type="checkbox">
            <label class="form-check-label">June 15-18</label><br>
            <input class="form-check-input" name="" type="checkbox">
            <label class="form-check-label">July 15-18</label><br>
           
          </div>
        </div>
      </div>

      <br>
      <div class="row row2">
        <div class="col-5">
          <h5>Virtual workshop Payment</h5>
        </div>
        <div class="col-6">
          <input class="form-check-input" name="" type="checkbox">
            <label class="form-check-label">Participation fee $200</label><br>
        </div>
      </div>
      
      <div class="text-success">
        <div class="formGroup">
          <h5>Payment Method</h5>
          <div class="row">
            <div class="col-12">
              <select class="custom-select" >
                <option value="" selected>UPI</option>
                <option value="" >Debit card</option>
                <option value="" >Credit Card</option>
          
             </select>
            </div>
          </div>
        </div>
      </div>

      <div class="text-success">
        <div class="formGroup">
          <h5>Any Information or Comments you would like to share?</h5>
          <div class="row">
            <div class="col-12">
              <textarea name="fname" id="fname" placeholder="Type here..." class="form-control" rows="5"></textarea>
            </div>
          </div>
        </div>
      </div>

      <div class="formGroup">
        <label><b>How did you know about this virtual program</b></label><br>
        <div class="row row-2">

          <div class="form-check col-5 row-2">
            <input class="form-check-input" name="" type="checkbox">
            <label class="form-check-label">Facebook</label><br>
            <input class="form-check-input" name="" type="checkbox">
            <label class="form-check-label">Instagram</label><br>
            <input class="form-check-input" name="" type="checkbox">
            <label class="form-check-label">Search Engine</label><br>
            <input class="form-check-input" name="" type="checkbox">
            <label class="form-check-label">Refferal</label><br>
          </div>

          <div class="form-check col-6">
            <input class="form-check-input" name="" type="checkbox">
            <label class="form-check-label">Twitter</label><br>
            <input class="form-check-input" name="" type="checkbox">
            <label class="form-check-label">Youtube</label><br>
            <input class="form-check-input" name="" type="checkbox">
            <label class="form-check-label">Online Ads</label><br>
            <input class="form-check-input" name="" type="checkbox">
            <input type="text" placeholder="Other">
           
          </div>
        </div>
      </div>

      <div class="text-center">
        <button class="btn btn-primary"  type="submit" >Regiter Now</button>
      </div>
      












    </form>
 


</div>

<router-outlet></router-outlet>